.stories__viewer {
    position: fixed;
    background: #f2f2f2;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stories__close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.stories__wrapper {
    display: flex;
    align-items: center;
}

.stories__arrow {
    margin: 0 30px;
    cursor: pointer;
}

.stories__arrow:hover {
    text-decoration: underline;
}

.stories__arrow--disabled {
    opacity: 0.5;
}

.stories__container {
    position: relative;
    width: 430px;
    height: calc(100vh - 100px);
    max-height: 766px;
    margin: 0 auto;
    overflow: hidden;
    perspective: 1000px;
}

.slide-animation {
    backface-visibility: hidden;
    transition: transform 0.5s
}

.slide-animation.prev {
    transform: rotateY(90deg);
}

.slide-animation.next {
    transform: rotateY(-90deg);
}