.story {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
}

.story--active {
    transform: translateX(0);
}

.story__nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
}

.story__navRight,
.story__navLeft {
    width: 50%;
    height: 100%;
}

.story__close {
    z-index: 80;
    position: absolute;
    top: 20px;
    right: 12px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: rgba(0, 0, 0, .3) url(i/close.svg) no-repeat 50% 50%;
    cursor: pointer;
}